---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
            </br>    
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>I am studying Games Technology at University of West England (UWE). I am aiming to become a programmer for a games company and work on games that I enjoy or hope other people enjoy.</p>
            <p>I am big gamer and like to think I am good gamer but I am probably not. Some of my favourite games include the Witcher 3, Skyrim, Pokémon, Darksiders, Crash Bandicoot, Super Mario Bros 3 and Mario Kart.</p>
            <p>I am also a big Game of Thrones fan and anyone who hasn’t seen it needs to watch it. I am football fan and support Liverpool, I also enjoy skiing and pool (if anyone wants a game of pool then just message me).</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
