---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
            </br>    
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>Career started here.. I've obtained these grades. I make games, sometimes I program. Occasionally, there are students, they ask a lot of questions. I do my best. Possibly not selling myself in the best light.</p>
            <p>Studied at UWE, on the Games Technology degree. Went on to study my masters at Goldsmiths. Passionate gamer, it's the games that drive me and not the coding.</p>
            <p>So, this might be a good place to list a shorthand CV, or even provide a download to one. Plenty of plugins do this. Some even generate HTML into a PDF preformatted CV. Alternatively, you may want to link to linkedin instead.</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
