---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
            </br>    
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>I am studying MSc Commerical Games Development at University of West England (UWE). I recieved a 1st from UWE in BSc Game Technology and am aiming to become a succesful games developer.</p>
            <p>What I enjoy doing is designed and programming games that people will enjoy, I am big gamer, some of my favourite games include the Witcher 3, Skyrim, Pokémon, Darksiders, Crash Bandicoot, Super Mario Bros 3 and Mario Kart.</p>
			<p>I am also a bit of a nut for engine progarmmming and currently writing my own engine in Vulkan and am hoping to make it open source soon.</p>
            <p>I am football fan and support Liverpool, I also enjoy skiing and pool. Also a fan of TV shows like the Boys, GOT and the Mandolorian and some others</p>
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
