---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:10 %}
            {% if post.published == true %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endif %}
            {% endfor %}
             <div class="hline"></div> 
        </div>      
    </div><! --/row -->
</div><! --/container -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}


