<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>My Portfolio</h3>
                <h1>James Huxtable.</h1>
                <h5>Welcome to my portfolio and dev diary ramblings. Here you can explore my work.</h5>
                <h5>If you like what you see, contact me!!</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/montage_by_ardathlilitu.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
